<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="qr-code-scanner">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">
        Login
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding-horizontal">
    <ion-grid>
      <ion-row class=" ion-justify-content-center ion-padding">
        <div id="leitorqr">
          <img width="100%" src="../../assets/Ativo 24.png">
        </div>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-padding">
        <div>
          <ion-button color="primary" expand="block" fill="outline" (click)="startScanning()">Fazer login com QR-Code
          </ion-button>
        </div>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
